body{
	background: silver;
	margin: 40px;
}
.block_text{
	background: silver;
	padding:5px;
	margin: auto;
	margin-bottom: 20px;
	width: 80%;
	border-radius: 2%;
	overflow:hidden;
}
.block{
	background: white;
	width: 60%;
	float: left;
}
h3{
	color:lightseagreen;
}
h1{
	background: white;
	margin-left: 40px;
}
button{
	background: silver;
	border:none;
}
.button{
	border-top: 1px solid black;
	overflow: auto;
	height: 200px;
}
.buttonAll{
	border-top: 1px solid black;
}
span{
	color: lightseagreen;
}
.img{
	height: 250px;
}
.likes{
	color:red;
}
.show_Commends{
	padding-left: 100px;
	padding-right: 10px;
}
.send{
	background: orange;
	padding: 5px;
}
.send_text{
	width: 30%;
}
li{
	list-style-type: none;
}
.input{
	padding: 5px;
	border-radius: 2%;
	border:none;
	background: silver;
	margin-top: 5px;
	margin-bottom: 5px;
}
.constructor{
	background: white;
	width: 39%;
	float: right;
}
.coment_constructor{
	width: 566px;
	background: white;
	position: absolute;
	top: 675px;
	right: 35px;
}
.hiden{
	visibility: hidden;
}
.Comments{
	margin-bottom: 20px;
}