Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed (from ./node_modules/html-loader/index.js):
  Error: ENOENT: no such file or directory, open 'C:\Users\Ваня\Desktop\test\js   prof\lesson_7\source\templates\dark.html':
  Error: ENOENT: no such file or directory, open 'C:\Users\Ваня\Desktop\test\js   prof\lesson_7\source\templates\dark.html'
  Module build failed (from ./node_modules/html-loader/index.js):
  Error: ENOENT: no such file or directory, open 'C:\Users\Ваня\Desktop\test\js   prof\lesson_7\source\templates\light.html':
  Error: ENOENT: no such file or directory, open 'C:\Users\Ваня\Desktop\test\js   prof\lesson_7\source\templates\light.html'
  
  - compiler.js:141 childCompiler.runAsChild
    [lesson_7]/[html-webpack-plugin]/lib/compiler.js:141:18
  
  - Compiler.js:296 compile
    [lesson_7]/[webpack]/lib/Compiler.js:296:11
  
  - Compiler.js:552 hooks.afterCompile.callAsync.err
    [lesson_7]/[webpack]/lib/Compiler.js:552:14
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lesson_7]/[tapable]/lib/Hook.js:154:20
  
  - Compiler.js:549 compilation.seal.err
    [lesson_7]/[webpack]/lib/Compiler.js:549:30
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lesson_7]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1323 hooks.optimizeAssets.callAsync.err
    [lesson_7]/[webpack]/lib/Compilation.js:1323:35
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lesson_7]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1314 hooks.optimizeChunkAssets.callAsync.err
    [lesson_7]/[webpack]/lib/Compilation.js:1314:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lesson_7]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1309 hooks.additionalAssets.callAsync.err
    [lesson_7]/[webpack]/lib/Compilation.js:1309:36
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lesson_7]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1305 hooks.optimizeTree.callAsync.err
    [lesson_7]/[webpack]/lib/Compilation.js:1305:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [lesson_7]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1242 Compilation.seal
    [lesson_7]/[webpack]/lib/Compilation.js:1242:27
  
  - Compiler.js:546 hooks.make.callAsync.err
    [lesson_7]/[webpack]/lib/Compiler.js:546:17
  
  
  
  - Compilation.js:1093 _addModuleChain
    [lesson_7]/[webpack]/lib/Compilation.js:1093:12
  
  - Compilation.js:1005 processModuleDependencies.err
    [lesson_7]/[webpack]/lib/Compilation.js:1005:9
  
  - next_tick.js:61 process._tickCallback
    internal/process/next_tick.js:61:11
  
</pre><script src="bundle.js"></script>